# Gradle
.gradle/
build/
**/build/
*.apk

# Android Studio
.idea/
*.iml
.VSCODE/
.studio*

# Local configuration
local.properties
android.local.properties

# Kotlin / generated
**/generated/

# OS generated
.DS_Store
Thumbs.db